<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="wrapper">
        {# HEADER & NAVBAR #}

        {% include 'includes/header.html' %}


        {# MAIN CONTENT #}
        <main>
            {% block content %}{% endblock %}
        </main>

        {# FOOTER #}

        {% include 'includes/footer.html' %}
    </div>
</body>
</html>
